# Ignore everything
**
# Allow healthcheck module
!healthcheck/**
# Allow augmentation module
!augmentation/**
# Allow preprocessing module
!preprocessing/**
# Allow requirements*
!requirements*
# Allow all Dockerfile
!Dockerfile*
# Allow all python files
!*.py
