torch==1.11.0
torchvision==0.12.0
ray[serve]==1.13.0
fastapi==0.78.0
imageio==2.19.3
kornia==0.6.5
opencv-python==4.6.0.66
Pillow==9.1.1
scikit-image==0.19.3
scipy==1.8.1
pandas==1.4.2
numpy
awscli
boto3
fsspec
s3fs
