torch==1.10.0+cpu
torchvision==0.11.1+cpu
ray[serve]==1.13.0
fastapi==0.70.0
imageio==2.19.3
kornia==0.6.1
opencv-python==4.5.4.58
Pillow==9.0.1
scikit-image==0.19.3
scipy==1.7.2
pandas==1.4.2
numpy
awscli
boto3
fsspec
s3fs
